.app {
  max-width: 55rem;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.app-header {
  display: flex;
  align-items: center;
  background-color: #fdf2e9;
  padding: 0 4.8rem;
  height: 9.6rem;
  justify-content: center;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: all 0.5s;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:active {
  color: #cf711f;
}

.today-task {
  margin: 0 4.8rem;
}

.activity-container {
  grid-column: 1 / -1;
}

.activity-list {
  display: flex;
  gap: 3.2rem;
  margin: 0 auto;
  align-items: center;
  list-style: none;
  /* justify-content: space-evenly; */
}

.task-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.task-item:link,
.task-item:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
}

.num {
  font-size: 1.2rem;
  padding: 0.7rem;
  display: inline-block;
  border-radius: 45%;
  color: #fff;
  background-color: red;
}

.hero-decription {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  justify-items: end;
  align-items: center;
}

.header-text {
  font-size: 3.2rem;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}

.header p {
  font-size: 1.2rem;
  color: #333;
}

.btn-add {
  font-size: 2rem;
  padding: 0.6rem 1.2rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
  text-decoration: none;
}

.task-card {
  margin: 0 4.8rem;
  background-color: #cf711f;
  border-radius: 1.5rem;
  padding: 1.2rem 4.8rem;
}

.card-container {
  display: flex;
  flex-direction: column;
}
.check-list {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  /* row-gap: 2.4rem; */
  line-height: 3.2rem;
}

.check-list > span {
  margin-left: 5rem;
}

.card-container h3 {
  font-size: 2.4rem;
}
